/* Pour la page index du dossier accueil */
/* et pour la barre de nav  */
body {
    height: 80%;
    background-color: rgb(72, 66, 66) !important;
}

#nav {
    background-color: #BA55D3 !important;
}

h1 {}